<form (ngSubmit)="ok()">
    <div class="modal-header">
        <h4 class="modal-title">Change password</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismiss()" [disabled]="isBusy">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Old password</label>
            <input type="password" class="form-control {{ !!oldPasswordError && 'is-invalid' }}" name="oldPassword"
                [(ngModel)]="oldPassword" required autofocus [disabled]="isBusy">
            <small class="text-danger">
                {{ oldPasswordError }}
            </small>
        </div>

        <div class="form-group">
            <label>New password</label>
            <input type="password" class="form-control {{ !!newPasswordError && 'is-invalid' }}" name="newPassword"
                [(ngModel)]="newPassword" required [disabled]="isBusy">
            <small class="text-danger">
                {{ newPasswordError }}
            </small>
        </div>

        <div class="form-group">
            <label>New password (repeat)</label>
            <input type="password" class="form-control {{ !!newPasswordAgainError && 'is-invalid' }}"
                name="newPasswordAgain" [(ngModel)]="newPasswordAgain" required [disabled]="isBusy">
            <small class="text-danger">
                {{ newPasswordAgainError }}
            </small>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="isBusy">
            <fa-icon *ngIf="!isBusy" icon="check"></fa-icon>
            <fa-icon *ngIf="isBusy" icon="spinner" [spin]="true"></fa-icon>
            Change password
        </button>
        <button type="button" class="btn btn-secondary" (click)="dismiss()" [disabled]="isBusy">
            <fa-icon icon="times"></fa-icon>
            Cancel
        </button>
    </div>
</form>