<a [routerLink]="[ '/projects', project.id ]" class="list-group-item list-group-item-action {{ className }}">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ project.id }}</h5>
        <small>
            {{ backupStatusText }}
            <fa-icon [icon]="backupStatusIcon"></fa-icon>
        </small>
    </div>
    <p class="mb-1">{{ project.name }}</p>
    <div class="d-flex w-100 justify-content-between">
        <small>{{ description }}</small>
        <div>
            <fa-layers *ngIf="hasNotifications" [fixedWidth]="true">
                <fa-icon [icon]="['fas', 'bullhorn']" transform="shrink-6"></fa-icon>
            </fa-layers>

            <fa-layers *ngIf="!hasNotifications" [fixedWidth]="true">
                <fa-icon [icon]="['fas', 'ban']"  class="text-danger"></fa-icon>
                <fa-icon [icon]="['fas', 'bullhorn']" transform="shrink-6"></fa-icon>
            </fa-layers>
        </div>
    </div>
</a>