<form class="form-signin" (ngSubmit)="onSubmit()">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="username" class="sr-only">Username</label>
  <input [(ngModel)]="username" type="text" name="username" class="form-control {{ !isUsernameValid?'is-invalid':''}}"
    placeholder="Username" required [disabled]="!!isBusy" autofocus>
  <label for="password" class="sr-only">Password</label>
  <input [(ngModel)]="password" type="password" name="password"
    class="form-control {{ !isPasswordValid?'is-invalid':''}}" placeholder="Password" required [disabled]="!!isBusy">

  <button class="btn btn-lg btn-primary btn-block" type="submit" *ngIf="!isBusy">
    <fa-icon icon="sign-in-alt"></fa-icon>
    Sign in
  </button>
  <button class="btn btn-lg btn-secondary btn-block disabled" type="button" *ngIf="!!isBusy" disabled>
    <fa-icon icon="spinner" [spin]="true"></fa-icon>
    Signing in...
  </button>

  <div class="alert alert-danger alert-dismissible mt-2" role="alert" *ngIf="!!error">
    <strong>Error:</strong> {{error}}
    <button type="button" class="close" (click)="dismissError()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</form>